@font-face {
  font-family: JetBrainsMono;
  src: url("./../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
    font-family: JetBrainsMono;
    src: url("./../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf");
    font-weight: x-bold;
  }

@font-face {
  font-family: Poppin;
  src: url("./../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppin;
  src: url("./../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #0dcaf0;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-white: #fff;
  --bs-black: #000;
}

body {
  font-family: JetBrainsMono;
}

.header-items {
  list-style: none;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}

.navbar-nav .nav-link:hover {
  color: white !important;
}

.description {
  font-weight: x-bold;
}

section.d-flex.flex-column.justify-content-center {
  min-height: 80vh;
}

.blurred-navbar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card:hover {
  background: rgba(var(--bs-dark-rgb), 0.8) !important;
}

